<article class="list__item-article grid">

  <div class="list__item-copy">

    <div class="relative">

      <h2>{{ .Title }}</h2>

      {{ if .IsPage }}

        <time class="list__item-date">{{ .Date.Format "2006" }}</time>

      {{ end }}

    </div>

    <p>
      {{ .Summary }}
    </p>

    {{ $linkText := "" }}

    {{ if eq .Type "series" }}

      {{ $linkText = "View series" }}

    {{ else if or (eq .Type "tags") (eq .Type "categories") }}

      {{ $linkText = "View articles" }}

    {{ else }}

      {{ $linkText = "View article" }}

    {{ end }}

    <a class="list__item-link" href="{{ .Permalink }}">{{ $linkText }}</a>

  </div>

  <div class="list__item-image">

    <div class="content">

      {{ range .Params.images }}

        <img src="{{ . }}" alt="" loading="lazy">

      {{ end }}

    </div>

  </div>

</article>
