{{- $respSizes := slice "320" "640" "960" "1280" "1600" "1920" -}}

{{- $imgBase := "/images/" -}}

{{ $thumbnail := "" }}

{{ if isset .Params "thumbnail" }}

  {{ $thumbnail = .Params.thumbnail }}

{{ else }}

  {{ $thumbnail = "/images/background.jpg" }}

{{ end }}

{{ $src := resources.Get $thumbnail }}
{{ $alt := .Params.thumbnailAlt }}

{{- $imgClass := "article__thumbnail-image" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}

{{- $actualImg := $src.Resize "800x jpg" -}}

<article class="article grid relative">

  <div class="article__copy">

    <div class="relative grid">

      <h3 class="article__headline">{{ .Title }}</h3>

      {{ if isset .Params "categories" }}

        <div class="article__type">
          <span class="font-14">{{ .Type | title }}</span>
        </div>

      {{ end }}

    </div>

  </div>

  {{ if isset .Params "thumbnail" }}

    <div class="article__thumbnail">

      <div class="content">
        
        <picture>
          <source type="image/webp" srcset="
          {{- with $respSizes -}}
            {{- range $i, $e := . -}}
              {{- if ge $src.Width . -}}
                {{- if $i }}, {{ end -}}{{- ($src.Resize (printf " %sx%s" . " webp" ) ).RelPermalink }} {{ . }}w {{- end -}}
            {{- end -}} {{- end -}}" sizes="{{ $dataSzes }}" />
          <source type="image/jpeg" srcset="
          {{- with $respSizes -}}
            {{- range $i, $e := . -}}
              {{- if ge $src.Width . -}}
                {{- if $i }}, {{ end -}}{{- ($src.Resize (printf " %sx%s" . " jpg" ) ).RelPermalink }} {{ . }}w {{- end -}} {{-
            end -}} {{- end -}}" sizes="{{ $dataSzes }}" />
          <img class="{{ $imgClass }}" src="{{ $actualImg.RelPermalink }}" width="{{ $src.Width }}" height="{{ $src.Height }}"
            alt="{{ $alt }}" loading="lazy" />
        </picture>

      </div>

    </div>

  {{ end }}

  <a class="article__link absolute-link" href="{{ .Permalink }}" aria-label="View {{ .Title }}"></a>

</article>
