<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
    {{- partial "head.html" . -}}
    <body class="animated fade-in">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{ $imageJS := resources.Get "js/lib/blazy/blazy.min.js" }}
        {{ $headroomJS := resources.Get "js/lib/headroom/headroom.min.js" }}
        {{ $appJS := resources.Get "js/app.js" }}
        {{ $js := slice $imageJS $headroomJS $appJS | resources.Concat "js/bundled.js" }}
        <script src="{{ $js.Permalink }}"></script>
    </body>
</html>
