<li>
  <article>
    <a class="gray-hover" href="{{ .Permalink }}">

      <header>
        <h3>{{ .Title }}</h3>
      </header>

      <span>
        Published on
        <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
          {{ .PublishDate.Format "January 2, 2006" }}
        </time>
      </span>

      {{ if .Params.categories }}
        <footer class="list__post-footer">

          {{ range .Params.categories }}
            <small class="category">{{ . }}</small>
          {{ end }}

        </footer>
      {{ end }}

    </a>
  </article>
</li>
