{{ define "title" }}

  {{ if eq .Title "Japaneses" }}
    Japanese - {{ .Site.Title }}
  {{ else }}
    {{ .Title | singularize  }} - {{ .Site.Title }}
  {{ end }}

{{ end }}

{{ define "main" }}

{{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") }}

  <main>

    <section>

      <div class="container">

        {{ if eq .Title "Japaneses" }}
          <h1 class="visually-hide">Japanese</h1>
        {{ else }}
          <h1 class="visually-hide">{{ .Title | singularize }}</h1>
        {{ end }}

        <ul class="unstyled-list list grid gsap-fade-in">

          {{ range $index, $page := $paginator.Pages }}

            <li class="list__item grid relative">

              {{ .Render "article" }}

            </li>

          {{ end }}

        </ul>

      </div>

      {{ if gt (len $paginator.Pagers) 1  }}

        <nav class="border-bottom" aria-label="pagination">
          <ul class="unstyled-list pagination gsap-stagger-in">

            {{ range $paginator.Pagers }}

              {{ if eq . $paginator}}
                <li class="pagination__item flex-center border" aria-current="page">
                  <span class="visually-hide">Page</span>
                  {{ .PageNumber }}
                </li>
              {{ else }}
                <li class="pagination__item flex-center">
                  <a
                    class="pagination__link link-hover flex-center"
                    href="{{ .URL }}"
                    aria-label="Go to page {{ .PageNumber }}."
                  >
                    {{ .PageNumber }}
                  </a>
                </li>
              {{ end }}

            {{ end }}

          </ul>
        </nav>

      {{ end }}

    </section>

  </main>

{{ end }}
