{{ define "main" }}

  <section class="blog spacing">
    <div class="container container--small">

      <header>
        <h1>Journal</h1>
      </header>

      {{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") }}

      {{ range $index, $page := $paginator.Pages }}
        {{ partial "list/article.html" . }}
      {{ end }}

    </div>
  </section>

  <div class="pagination pagination--numbers">
    <div class="container container--small">
      <ul class="pagination__numbers">

        {{ range $paginator.Pagers }}
          <li>
            <a
              class="pagination__number{{ if eq . $paginator }} pagination__number--current{{ end }}"
              href="{{ .URL }}"
            >
              {{ .PageNumber }}
            </a>
          </li>
        {{ end }}

      </ul>
    </div>
  </div>

{{ end }}