{{ define "main" }}

  <section class="blog">

    <header class="blog__header visually-hide">
      <h1>I'm Jacob Proffer.</h1>
    </header>

    <div class="grid grid--two-column">

      {{ range .Site.RegularPages }}

        {{ $class := "" }}

        {{ if eq .Params.featured true }}
          {{ $class = "blog__post blog__post--span-two" }}
        {{ else }}
          {{ $class = "blog__post" }}
        {{ end }}
        
        <article class="{{ $class }}">

          <a href="{{ .Permalink }}">

            <div class="blog__post-content">

              <header>
                <h2>{{ .Title }}</h2>
              </header>
            
              <span>
                Published on
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                  {{ .PublishDate.Format "January 2, 2006" }}
                </time>
              </span>
            
              <footer class="blog__post-footer">
            
                {{ range .Params.categories }}
                  <small class="category">{{ . }}</small>
                {{ end }}
            
              </footer>

            </div>

          </a>
          
        </article>

      {{ end }}

    </div>
  </section>

{{ end }}