{{ define "title" }}
  {{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  <main>

    <article class="single">

      <div class="hero-top-spacing">
        <div class="container gsap-fade-in">
          <div class="single__container">
            <div class="single__content-grid">
              <h1>{{ .Title }}</h1>
            </div>
          </div>
        </div>
      </div>

      {{ partial "single/thumbnail" . }}

      <div class="container gsap-fade-in">

        <div class="single__container">

          <div class="single__content-grid">

            {{ .Content }}

          </div>

        </div>

      </div>

    </article>

  </main>

  {{ $related := .Site.RegularPages.Related . | first 4 }}

  {{ if gt (len $related) 1 }}

    <aside class="related">
      <div class="container">
        <div class="single__container">

          {{ $related := .Site.RegularPages.Related . | first 4 }}

          {{ with $related }}

            <h2 class="related__headline gsap-fade-in">Related Posts</h2>

            <ul class="unstyled-list grid gsap-fade-in">

              {{ range . }}
                <li>
                  {{ .Render "article-related" }}
                </li>
              {{ end }}

            </ul>

          {{ end }}

        </div>
      </div>
    </aside>

  {{ end }}

{{ end }}
