{{ define "main" }}

  <article class="post spacing">

    <div class="container container--small">

      <header>
        <h1>{{ .Title }}</h1>
        <span class="post__information">
          <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
            {{ .PublishDate.Format "January 2, 2006" }}
          </time>
          -
          {{ .WordCount }} words
        </span>
      </header>

      {{ .Content }}

      <footer>

        {{ range .Params.categories }}
          <small class="category">{{ . }}</small>
        {{ end }}

      </footer>

    </div>
  </article>

  {{ partial "related.html" . }}

  <div class="pagination pagination--post">
    <div class="grid grid--two-column">

      {{ with .PrevInSection }}
        <a
          class="pagination-item pagination-item--prev gray-hover"
          href="{{ .Permalink }}"
        >
          Previous Post
          <span>{{ .Title }}</span>
        </a>
      {{ end }}

      {{ with .NextInSection }}
        <a
          class="pagination-item pagination-item--next gray-hover"
          href="{{ .Permalink }}"
        >
          Next Post
          <span>{{ .Title }}</span>
        </a>
      {{ end }}

    </div>
  </div>

{{ end }}
