{{ define "main" }}

  {{ partial "hero" . }}

  <main
    id="content"
    tabindex="-1"
  >
    <section aria-labelledby="list-headline">
      <div class="container">

        <h1
          class="list__headline gsap-fade-in h2"
          id="list-headline"
        >
          {{ .Title |singularize }}
        </h1>

        <ol class="unstyled-list list grid gsap-stagger-in">

          {{ $sortedPages := sort .Pages "Title" }}

          {{ range $sortedPages }}

            <li class="list__item grid relative">

              {{ .Render "article" }}

            </li>

          {{ end }}

        </ol>

      </div>
    </section>
  </main>

{{ end }}
