{{ define "main" }}

<main id="content">
  <section class="hero-top-spacing" aria-labelledby="list-headline">
    <div class="container">
      <h1 class="list__headline" id="list-headline">{{ .Title }}</h1>

      {{ $sortedPages := sort .Pages "Title" }} {{ if or ( eq .RelPermalink
      "/series/" ) ( eq .RelPermalink "/tags/" ) ( eq .RelPermalink
      "/categories/" ) }}

      <ol class="unstyled-list flex series-list">
        {{ range $sortedPages }}

        <li>
          <a class="series-item" href="{{ .Page.RelPermalink }}">
            {{ .Page.Title }}
          </a>
        </li>

        {{ end }}
      </ol>

      {{ else }}

      <ol class="unstyled-list list grid">
        {{ range .Pages }}

        <li class="list__item grid relative">
          {{ .Render "listing-article" }}
        </li>

        {{ end }}
      </ol>

      {{ end }}
    </div>
  </section>
</main>

{{ end }}
