<button
  class="unstyled-button button main-header__mobile-navigation-trigger"
  id="mobile-navigation-trigger"
  aria-controls="mobile-navigation"
  aria-expanded="false"
  aria-label="Toggle mobile navigation"
>
  Menu
</button>

<nav
  class="main-header__mobile-navigation"
  id="mobile-navigation"
  aria-label="mobile"
>
  <ul class="unstyled-list grid main-header__mobile-navigation-list">

    {{ $currentPage := . }}

    {{ range .Site.Menus.main }}

      <li>
        <a
          class="main-header__mobile-navigation-link nav-item"
          href="{{ .URL }}"
          {{ if $currentPage.IsMenuCurrent "main" . }}
            aria-current="page"
          {{ end }}
        >
          {{ .Name }}
        </a>
      </li>

    {{ end }}

  </ul>
</nav>
