.link-hover {
  position: relative;
  color: black;
  @include transition(all 300ms ease-in-out);
  &:hover {
    color: white;
    &:before {
      content: '';
      background: black;
      z-index: -1;
      @include size(100%, 100%);
      @include absolute(auto, auto, -2px, 50%);
      @include transform(translate(-50%, 0));
    }
  }
  &:before {
    content: '';
    background: black;
    z-index: -1;
    @include transition(all 300ms ease-in-out);
    @include size(100%, 2px);
    @include absolute(auto, auto, -2px, 50%);
    @include transform(translate(-50%, 0));
  }
}

.list {
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
    a {
      color: black;
      font-weight: 700;
      @include font-size($h2-font-sizes);
      @include transition(all 300ms ease-in-out);
      &:hover {
        color: white;
        &:before {
          content: '';
          z-index: -1;
          background: black;
          @include size(100%, 100%);
          @include absolute(auto, auto, 0, 50%);
          @include transform(translate(-50%, 0));
        }
      }
      &:before {
        content: '';
        background: black;
        z-index: -1;
        @include transition(all 300ms ease-in-out);
        @include size(100%, 5px);
        @include absolute(auto, auto, 0, 50%);
        @include transform(translate(-50%, 0));
        @include screen-above(768px) {
          @include size(100%, 10px);
        }
      }
    }
  }
}

.header {
  text-align: center;
  margin-bottom: 50px;
  @include screen-above(768px) {
    margin-bottom: 100px;
  }
}

.content {
  padding-bottom: 25px;
  @include screen-above(768px) {
    padding-bottom: 75px;
  }
}

.spacing {
  padding: 150px 0 50px;
  @include screen-above(768px) {
    padding: 200px 0;
  }
}

.text {
  margin-top: 25px;
  @include screen-above(768px) {
    margin-top: 50px;
  }
}