.link-hover {
  position: relative;
  color: black;
  @include transition(opacity 300ms ease-in-out);
  &:hover {
    &:before {
      content: '';
      background: black;
      opacity: 1;
      @include size(100%, 4px);
      @include absolute(50%, auto, auto, 50%);
      @include transform(translate(-50%, -50%));
    }
  }
  &:before {
    content: '';
    opacity: 0;
    background: black;
    @include transition(opacity 300ms ease-in-out);
    @include size(100%, 4px);
    @include absolute(50%, auto, auto, 50%);
    @include transform(translate(-50%, -50%));
  }
}

.list {
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
    a {
      color: black;
      font-weight: 700;
      @include font-size($h2-font-sizes);
      &:hover {
        &:before {
          content: '';
          background: black;
          opacity: 1;
          @include size(100%, 10px);
          @include absolute(50%, auto, auto, 50%);
          @include transform(translate(-50%, -50%));
        }
      }
      &:before {
        content: '';
        opacity: 0;
        background: black;
        @include transition(opacity 300ms ease-in-out);
        @include size(100%, 10px);
        @include absolute(50%, auto, auto, 50%);
        @include transform(translate(-50%, -50%));
      }
    }
  }
}