body {
  color: $white;
  background: $black;
  font-family: 'Rosarivo', serif;
  @include line-height(16);
}

a {
  color: $hit;
  text-decoration: none;
  @include transition(300ms ease-in-out);
  &:hover {
    @include opacity(0.5);
  }
}