body {
  color: $white;
  background: $black;
  font-family: 'Roboto', sans-serif;
  @include line-height(16);
}

a {
  color: $orange;
  font-style: italic;
  text-decoration: none;
  @include transition(color 300ms ease-in-out);
  &:hover {
    color: $brown;
  }
}
