h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  @include font-size($h1-font-sizes);
  margin: 0;
  line-height: 1.2;
}

h2 {
  @include font-size($h2-font-sizes);
  line-height: 1.8;
}

h3 {
  @include font-size($h3-font-sizes);
}

p {
  @include font-size($p-font-sizes);
  line-height: 1.8;
}
