{{ $thumbnail := "" }}

{{ if isset .Params "thumbnail" }}

  {{ $thumbnail = .Params.thumbnail }}

{{ else }}

  {{ $thumbnail = "/images/background.jpg" }}

{{ end }}

{{ $thumbnailSrc := resources.Get $thumbnail }}

{{ $smallw := default "480x webp" }}
{{ $mediumw := default "600x webp" }}
{{ $largew := default "1200x webp q75" }}

{{ $data := newScratch }}
{{ $data.Set "small" ($thumbnailSrc.Resize $smallw) }}
{{ $data.Set "medium" ($thumbnailSrc.Resize $mediumw) }}
{{ $data.Set "large" ($thumbnailSrc.Resize $largew) }}

{{ $small := $data.Get "small" }}
{{ $medium := $data.Get "medium" }}
{{ $large := $data.Get "large" }}

<div class="single__thumbnail gsap-fade-in">
  <div class="content">
    <picture>
      <source media="(max-width: 480px)" srcset="{{with $small.RelPermalink }}{{.}}{{ end }}" width="{{ $small.Width }}" height="{{ $small.Height }}">

      <source media="(max-width: 600px)" srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}" width="{{ $medium.Width }}" height="{{ $medium.Height }}">

      <source media="(min-width: 1080px)" srcset="{{with $large.RelPermalink }}{{.}}{{ end }}" width="{{ $large.Width }}" height="{{ $large.Height }}">

      <img
        class="single__thumbnail-image animated slide-in-up"
        src="{{ $thumbnailSrc.RelPermalink }}"
        width="{{ $thumbnailSrc.Width }}"
        height="{{ $thumbnailSrc.Height }}"
        alt=""
      >
    </picture>
  </div>
</div>
