{{ $thumbnail := "" }}

{{ if isset .Params "thumbnail" }}

{{ $thumbnail = .Params.thumbnail }}

{{ else }}

{{ $thumbnail = "/images/background.jpg" }}

{{ end }}

{{ $thumbnailSrc := resources.Get $thumbnail }}

{{ $smallw := default "480x400 webp" }}
{{ $tabletw := default "675x450 webp" }}
{{ $mediumw := default "900x600 webp" }}
{{ $largew := default "1200x795 webp" }}

{{ $data := newScratch }}
{{ $data.Set "small" ($thumbnailSrc.Fill $smallw) }}
{{ $data.Set "tablet" ($thumbnailSrc.Fill $tabletw) }}
{{ $data.Set "medium" ($thumbnailSrc.Fill $mediumw) }}
{{ $data.Set "large" ($thumbnailSrc.Fill $largew) }}

{{ $small := $data.Get "small" }}
{{ $tablet := $data.Get "tablet" }}
{{ $medium := $data.Get "medium" }}
{{ $large := $data.Get "large" }}

<div class="single__thumbnail overflow-hidden gsap-fade-in">
  <picture>
    <source media="(max-width: 480px)" srcset="{{with $small.RelPermalink }}{{.}}{{ end }}" width="{{ $small.Width }}"
      height="{{ $small.Height }}">

    <source media="(max-width: 1079px)" srcset="{{with $tablet.RelPermalink }}{{.}}{{ end }}"
      width="{{ $tablet.Width }}" height="{{ $tablet.Height }}">

    <source media="(max-width: 1259px)" srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}"
      width="{{ $medium.Width }}" height="{{ $medium.Height }}">

    <source media="(min-width: 1260px)" srcset="{{with $large.RelPermalink }}{{.}}{{ end }}"
      width="{{ $large.Width }}" height="{{ $large.Height }}">

    <img class="single__thumbnail-image image-cover" src="{{ $thumbnailSrc.RelPermalink }}" width="{{ $thumbnailSrc.Width }}"
      height="{{ $thumbnailSrc.Height }}" alt="">
  </picture>
</div>
