// Maps

$h1-font-sizes: (
  null: 32px,
  320px: 2rem,
  560px: 2.5rem,
  768px: 2.75rem,
  1024px: 3rem,
  1280px: 4rem
);

$h2-font-sizes: (
  null: 22px,
  320px: 1.2rem
);

$p-font-sizes: (
  null: 16px,
  320px: 1rem
);
