{{ $img := "" }}

{{ $img = .Get "src" }}

{{ $imgSrc := resources.Get $img }}

{{ $mobilew := default "670x webp q100 Lanczos" }}
{{ $smallw := default "480x webp q100 Lanczos" }}
{{ $tabletw := default "675x webp q100 Lanczos" }}
{{ $mediumw := default "800x webp q100 Lanczos" }}
{{ $largew := default "640x webp q100 Lanczos" }}
{{ $desktopw := default "600x webp q100 Lanczos" }}

{{ $data := newScratch }}
{{ $data.Set "mobile" ($imgSrc.Resize $mobilew) }}
{{ $data.Set "small" ($imgSrc.Resize $smallw) }}
{{ $data.Set "tablet" ($imgSrc.Resize $tabletw) }}
{{ $data.Set "medium" ($imgSrc.Resize $mediumw) }}
{{ $data.Set "large" ($imgSrc.Resize $largew) }}
{{ $data.Set "desktop" ($imgSrc.Resize $desktopw) }}

{{ $mobile := $data.Get "mobile" }}
{{ $small := $data.Get "small" }}
{{ $tablet := $data.Get "tablet" }}
{{ $medium := $data.Get "medium" }}
{{ $large := $data.Get "large" }}
{{ $desktop := $data.Get "desktop" }}

{{ $imageAlt := .Get "alt" }}

<div class="single__image">

  <div class="content">

    <picture>
      <source media="(max-width: 375px)" srcset="{{with $mobile.RelPermalink }}{{.}}{{ end }}"
        width="{{ $mobile.Width }}" height="{{ $mobile.Height }}">

      <source media="(max-width: 600px)" srcset="{{with $small.RelPermalink }}{{.}}{{ end }}" width="{{ $small.Width }}"
        height="{{ $small.Height }}">

      <source media="(max-width: 1079px)" srcset="{{with $tablet.RelPermalink }}{{.}}{{ end }}"
        width="{{ $tablet.Width }}" height="{{ $tablet.Height }}">

      <source media="(max-width: 1259px)" srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}"
        width="{{ $medium.Width }}" height="{{ $medium.Height }}">

      <source media="(max-width: 1439px)" srcset="{{with $large.RelPermalink }}{{.}}{{ end }}"
        width="{{ $large.Width }}" height="{{ $large.Height }}">

      <source media="(min-width: 1440px)" srcset="{{with $desktop.RelPermalink }}{{.}}{{ end }}"
        width="{{ $desktop.Width }}" height="{{ $desktop.Height }}">

      <img src="{{ $imgSrc.RelPermalink }}" width="{{ $imgSrc.Width }}" height="{{ $imgSrc.Height }}"
        alt="{{ $imageAlt }}" decoding="async" loading="lazy">
    </picture>

  </div>

</div>
