.header {
  margin-bottom: 30px;
  @include screen-above(768px) {
    margin-bottom: 60px;
  }
}

.content {
  padding-bottom: 25px;
  @include screen-above(768px) {
    padding-bottom: 75px;
  }
}

.spacing {
  padding: 80px 0 40px;
  @include screen-above(768px) {
    padding: 120px 0 60px;
  }
}

.centered {
  text-align: center;
}

.project-card {
  margin-bottom: 10px;
}

.about {
  .content {
    padding-bottom: 0;
  }
}

.project-content {
  @include size(100%, auto);
  @include transition(opacity 300ms ease-in-out);

  &:hover {
    opacity: 0.5;
  }

  &.project-active {
    opacity: 0.5;
  }
}

.project {
  padding: 10px 0;
  color: $black;
  text-align: left;

  small {
    color: $gray;
  }
}

.thumbnail {
  @include ratio(16, 9);
  @include background-cover;
  pointer-events: none;
}
