.spacing {
  @include screen-above(1024px) {
    padding: 0 0 74px;
  }
  padding: 0 0 14px;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
  text-transform: uppercase;
  line-height: 1.5;
}
