*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: $black;
  background: $light-blue;
}

* {
  &:focus {
    border-color: $blue;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .75), 0 0 0 .2em rgba(3, 102, 214, .3);
  }
}

body {
  @include transition(all 300ms ease-in-out);
  position: relative;
  font-family: 'Source Sans Pro', serif;
  font-size: 16px;
  color: $black;
  background: $white;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

figure {
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 300ms ease-in-out, outline 300ms ease-in-out;

  &:hover {
    color: $black;
    outline: dotted 1px $blue;
  }

  &:active {
    color: $purple;
  }

  &.current {
    text-decoration: underline;
  }
}

hr {
  @include size(100%, 1px);
  display: block;
  padding: 0;
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

time {
  display: block;
  color: $purple;
}