*,
*:after,
*:before {
  @include box-sizing(border-box);
}

::selection {
  color: $white;
  background: $black;
}

body {
  @include transition(all 300ms ease-in-out);
  position: relative;
  color: $black;
  font-family: "Roboto", serif;
  background: $white;
}

img {
  max-width: 100%;
}

a {
  @include transition(color 300ms ease-in-out);
  color: $black;
  text-decoration: none;
  font-weight: 900;

  &:hover {
    color: $red;
  }
}

hr {
  @include size(100%, 1px);
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin: 2em 0;
  padding: 0;
}

small {
  color: $red;
  font-weight: 400;
  font-size: .875rem;
}
