{{ define "title" }}
  Contact - {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<main
  id="content"
  tabindex="-1"
>

  <section class="single bottom-spacing">

    <div class="hero-top-spacing">
      <div class="container gsap-fade-in">
        <div class="single__container">
          <div class="single__content-grid single__content-grid--form">

            <h1 class="balance">{{ .Title }}</h1>

            <form
              class="grid form single__form"
              name="contact"
              action="/success/"
              netlify
              netlify-honeypot="hp-field"
            >

              <div class="grid form__input-wrap">

                <label for="first-name">First Name</label>
                <input
                  type="text"
                  id="first-name"
                  name="first-name"
                  required
                  aria-required="true"
                  autocomplete="given-name"
                />

              </div>

              <div class="grid form__input-wrap">

                <label for="last-name">Last Name</label>
                <input
                  type="text"
                  id="last-name"
                  name="last-name"
                  required
                  aria-required="true"
                  autocomplete="family-name"
                />

              </div>

              <div class="grid form__input-wrap form__span-two">

                <label for="email">Email Address</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  required
                  aria-required="true"
                  autocomplete="email"
                />

              </div>

              <div class="grid form__input-wrap form__span-two">

                <label for="message">
                  Message
                </label>
                <textarea class="form__message" name="message" id="message" cols="30" rows="10" required aria-required="true"></textarea>

              </div>

              <label
                class="visually-hide"
                for="hp-field"
                tabindex="-1"
              >
                Don’t fill this out if you’re human.
                <input
                  type="text"
                  id="hp-field"
                />
              </label>

              <button class="button" type="submit">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>

  </section>

</main>

{{ end }}
