{{ define "title" }}
  Successful Form Submission - {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<main
  id="content"
  tabindex="-1"
>

  <section class="single bottom-spacing">

    <div class="hero-top-spacing">
      <div class="container gsap-fade-in">
        <div class="single__container">
          <div class="single__content-grid single__content-grid--form">

            <h1 class="balance">{{ .Title }}</h1>

            {{ .Content }}

          </div>
        </div>
      </div>
    </div>

  </section>

</main>

{{ end }}
