// Maps

$h1-font-sizes: (
  null: 32px,
  320px: 1.75rem,
  375px: 2rem,
  768px: 2.5rem,
  1024px: 2.75rem,
  1280px: 3rem,
  1440px: 4rem
);

$h2-font-sizes: (
  null: 24px,
  320px: 2rem,
  768px: 2.25rem,
  1024px: 2.5rem,
  1280px: 2.75rem,
  1440px: 3rem
);

$h3-font-sizes: (
  null: 22px,
  320px: 1.375rem,
  640px: 1.5rem
);

$h4-font-sizes: (
  null: 18px,
  320px: 1rem,
  640px: 1.125rem
);

$h5-font-sizes: (
  null: 16px,
  320px: 1rem
);

$p-font-sizes: (
  null: 16px,
  320px: 1rem,
  1024px: 1.125rem
);

$font-sizes: (
  null: 16px,
  320px: 1rem
);

$header-font-sizes: (
  null: 18px,
  375px: 1.25rem,
  768px: 2rem
);
