// Maps

$h1-font-sizes: (
  null   : 32px,
  320px  : 2em,
  400px  : 2.5em,
  500px  : 4em,
  768px  : 6em,
  800px  : 8em,
  960px  : 10em,
  1024px : 12em,
  1200px : 14em,
  1440px : 16em
);

$h2-font-sizes: (
  null   : 16px,
  320px  : 1.125em,
  768px  : 2em
);

$p-font-sizes: (
  null   : 16px,
  320px  : 1.25em
);
