---
bio: "I'm Jacob. I'm a Front-End Developer at [Elegant Seagulls](https://www.elegantseagulls.com/) in Marquette, Michigan. With a keen eye for detail and a passion for quality assurance, I deliver products that adapt to all modern screen sizes and browsers. You can view some of my current and past open source projects on [GitHub](https://github.com/jacobproffer). I travel in my free time when I can. Within the past year, I've been to Tokyo, Japan and Iceland. With plans to one day return to Japan, I'm studying two components of Japanese, Hiragana and Kanji. Soon enough, I'll get around to the third component, Katakana. I also am learning Russian when I have the time."
image: /dist/img/jacob.jpg
alt: Image of Jacob Proffer
---
    <section class="about">
      <div class="container container--wide">
        <div class="cols cols--about">
          <div class="col col--about">
            <div class="about__content">
              <p>I'm Jacob. I'm a Front-End Developer at <a href="https://www.elegantseagulls.com/" target="_blank">Elegant Seagulls</a> in Marquette, Michigan. With a keen eye for detail and a passion for quality assurance, I deliver products that adapt to all modern screen sizes and browsers. You can view some of my current and past open source projects on <a class="link-hover" href="https://github.com/jacobproffer" target="_blank">GitHub</a>.
              <p>I travel in my free time when I can. Within the past year, I've been to Tokyo, Japan and Iceland. With plans to one day return to Japan, I'm studying two components of Japanese, Hiragana and Kanji. Soon enough, I'll get around to the third component, Katakana. I also am learning Russian when I have the time.</p>
            </div>
          </div>
          <div class="col col--about col--about-image">
            <img src="{{ "/dist/img/jacob.jpg" | absolute_url }}" alt="Jacob Proffer">
          </div>
        </div>
      </div>
    </section>