    <footer class="footer">
      <div class="container container--wide">
        <div class="grid grid--footer">
          <ul class="footer__list">

            {% for item in site.data.social.social-links %}
              <li class="footer__list-item">
                <a class="footer__list-link" href="{{ item.url }}" target="_blank" rel="noopener">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}

          </ul>
          <time class="footer__date" datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
          <a class="justify-end" href="/sitemap">Site Map</a>
        </div>
      </div>
    </footer>
    <script src="{{ "dist/js/app.min.js" | absolute_url }}"></script>
  </body>
</html>
