<footer class="contact">
  <div class="container">
    <h2>Now that we kind of know each other, I should let you know that I'm open to new opportunities. <a class="link-hover" href="mailto:hello@jacobproffer.com">Let's talk</a>.</h2>
    <ul>
      <li><a class="link-hover" href="https://twitter.com/jacobproffer" target="_blank">Twitter</a></li>
      <li><a class="link-hover" href="https://www.instagram.com/jacobproffer_/" target="_blank">Instagram</a></li>
      <li><a class="link-hover" href="https://codepen.io/jacobproffer/" target="_blank">Codepen</a></li>
    </ul>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ "dist/js/app.min.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
