    <footer class="contact">
      <div class="container">
        <hr>
        <ul>
          <li>&copy; 2017</li>
          <li><a class="link-hover" href="https://twitter.com/jacobproffer" target="_blank">Twitter</a></li>
          <li><a class="link-hover" href="https://www.instagram.com/jacobproffer_/" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ "dist/js/app.min.js" | absolute_url }}" type="text/javascript"></script>
  </body>
</html>
