    <header class="main-header" role="banner">
      <nav role="navigation">
        <div class="container">
          {% if page.layout == 'blog' %}
          <a class="logo" href="{{ "index.html" | absolute_url }}">&lt;</a>
          {% endif %}
          <ul class="main-nav">
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="https://github.com/jacobproffer" target="_blank">GitHub</a></li>
            <li><a class="contact" href="mailto:hello@jacobproffer.com">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>