.about {
  position: relative;
  padding: 52px 0 32px;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 43%;
    height: 70%;
    background-color: $yellow;
    content: '';

    @include screen-between(768px, 1024px) {
      width: 35%;
      height: 50%;
    }

    @include screen-below(768px) {
      width: 100%;
    }
  }

  &__content {
    h2 {
      margin-top: 0;
    }

    p {
      @include font-size($p-font-sizes);

      &:first-of-type {
        margin-top: 0;
      }
    }

    @include screen-above(1024px) {
      padding-left: 51px;
    }

    @include screen-between(768px, 1024px) {
      padding-left: 25px;
    }
  }

  @include screen-above(1024px) {
    padding: 104px 0;
  }
}
