.about {
  @include screen-above(1024px) {
    padding: 110px 0;
  }
  padding: 43px 0 23px;
  background-color: $yellow;
}

.about__content {
  @include screen-above(768px) {
    padding-right: 50px;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
}
