.blog {
  position: relative;

  h2 {
    margin-top: 0;
  }

  &--home {
    padding: 104px 0;

    @include screen-below(1024px) {
      padding: 52px 0;
    }
  }

  &__card {
    @include size(100%, auto);
    position: relative;
    text-align: left;

    h3 {
      @include transition(color 300ms ease-in-out);
    }

    p {
      margin-bottom: 0;
      font-weight: 400;
      color: $black;
    }

    &:not(:last-of-type) {
      &::before {
        position: absolute;
        bottom: -20px;
        width: 100%;
        height: 1px;
        background-color: #d2d4d7;
        content: '';
      }
    }
  }

  &__post-link {
    &:hover {
      h3 {
        color: $red;
      }
    }
  }
}

.featured-post {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
  align-self: start;
  justify-self: start;
}
