.blog {
  position: relative;

  h2 {
    margin-top: 0;
  }

  .button {
    margin-top: 14px;
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: $yellow;
    content: '';
  }

  &--home {
    padding: 104px 0;
    text-align: center;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 75%;
      background-color: $yellow;
      content: '';

      @include screen-between(640px, 1024px) {
        height: 85%;
      }

      @include screen-below(640px) {
        height: 92%;
      }
    }

    @include screen-below(1024px) {
      padding: 52px 0;
    }
  }

  &__post-link {
    &:hover {
      h3 {
        color: $red;
      }
    }
  }

  &__card {
    padding: 0 1rem;
    margin-bottom: 20px;

    @include screen-below(640px) {
      &:not(:first-of-type) {
        .blog__card-content {
          padding-top: 30px;
          border-top: 1px solid rgba(0, 0, 0, .1);
        }
      }
    }

    @include screen-between(640px, 1024px) {
      &:nth-of-type(n + 3) {
        .blog__card-content {
          padding-top: 30px;
          border-top: 1px solid rgba(0, 0, 0, .1);
        }
      }
    }

    @include screen-above(1024px) {
      &:nth-of-type(n + 4) {
        .blog__card-content {
          padding-top: 30px;
          border-top: 1px solid rgba(0, 0, 0, .1);
        }
      }
    }
  }

  &__card-content {
    @include size(100%, auto);
    text-align: left;

    h3 {
      @include transition(color 300ms ease-in-out);
    }

    img {
      margin-bottom: 26px;
    }

    p {
      margin-bottom: 0;
      font-weight: 400;
      color: $black;
    }
  }
}
