.blog {
  position: relative;
  overflow: hidden;

  .button {
    @include screen-below(890px) {
      margin-top: 10px;
    }
  }

  &__header {
    grid-column: 1 / -1;

    h1 {
      @include screen-above(890px) {
        grid-column: 1 / span 2;
      }
    }

    @include screen-above(890px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__featured-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2 / span 6;
    align-self: start;
    justify-self: start;

    header {
      margin-top: 40px;
    }

    & > * {
      grid-column: 1 / -1;
    }

    @include screen-below(890px) {
      padding-bottom: 55px;
      border-bottom: 1px solid $light-blue;
      grid-column: 1 / -1;
    }

    @include screen-above(890px) {
      grid-column: 1 / span 2;

      p {
        grid-column: 1 / span 2;
      }
    }
  }

  &__post {
    @include size(100%, auto);
    position: relative;
    text-align: left;

    header {
      @include screen-above(890px) {
        margin-top: -10px;
      }
    }

    h3 {
      @include transition(color 300ms ease-in-out);
    }

    p {
      margin-bottom: 0;
      font-weight: 400;
      color: $black;
    }

    &::before {
      position: absolute;
      bottom: -20px;
      width: 100%;
      height: 1px;
      background-color: $light-blue;
      content: '';

      @include screen-between(890px, 1440px) {
        bottom: -15px;
      }

      @include screen-above(1440px) {
        bottom: -10px;
      }
    }
  }
}
