.button {
  @include transition(all 300ms ease-in-out);
  display: inline-block;
  padding: 20px;
  line-height: 1;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  justify-self: start;
  align-self: center;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &--blue {
    color: $white;
    background-color: $blue;

    &:hover {
      color: $black;
      background-color: $light-blue;
    }

    &:active {
      background-color: $purple;
    }
  }
}