.footer {
  padding: 104px 0;

  @include screen-below(1024px) {
    padding: 52px 0;
  }

  &__date {
    margin: 0;
    padding: 0;
    color: $red;
    line-height: 1;
    text-align: center;
  }

  &__repo-link {
    display: block;
    text-align: right;
  }

  &__list {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &__list-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__list-link {
    display: inline-block;

    &--twitter,
    &--github {
      @include size(24px);
    }

    &--dribbble {
      @include size(29px, 24px);
    }

    &:hover {
      svg {
        fill: $red;
      }
    }

    svg {
      @include size(100%);
      @include transition(fill 300ms ease-in-out);

      fill: $black;
    }
  }
}