.container {
  width: 95%;
  padding: 0 2.5%;
  margin: 0 auto;

  &--small {
    max-width: 670px;

    @include screen-above(1024px) {
      @include size(100%, auto);
      padding: 0;
    }
  }

  &--mid {
    max-width: 1024px;
  }

  &--wide {
    max-width: 1440px;
  }
}

.grid {
  display: grid;
  grid-gap: 40px;

  &--navigation {
    grid-template-columns: repeat(2, 1fr);
  }

  &--intro,
  &--posts,
  &--footer {
    grid-template-columns: repeat(3, 1fr);
  }

  &--intro {
    grid-gap: 0;
  }

  &--posts {
    @include screen-below(890px) {
      grid-template-columns: 1fr;
    }
  }

  &--footer {
    @include screen-below(890px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}