@import "superior";

[class^="container"] {
  width: 95%;
  margin: 0 auto;
  padding: 0 2.5%;
}

.container-mid {
  max-width: 1200px;
}

.container-small {
  max-width: 670px;
}

.cols {
  @include cols;
}

.col {
  @include make-flex(12);
  @include screen-above(768px) {
    @include update-flex(6);
  }
}
