.main-header {
  @include transition(all 300ms ease-in-out);
  position: fixed;
  z-index: 9;
  width: 100%;
  height: auto;
  padding: 25px 0;
  overflow-y: visible;
  will-change: transform;

  &.unpinned {
    @include transform(translateY(-100px));
  }

  &.pinned {
    @include transform(translateY(0));
    background-color: $yellow;
  }

  &__nav {
    position: relative;
    z-index: 9;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    pointer-events: auto;
    background: none;
    border-bottom: 0;
    opacity: 1;
    will-change: transform;
  }

  &__nav-item {
    position: relative;
    display: inline-block;
    margin: 0 32px 0 0;
    text-align: center;
    list-style-type: none;

    &:last-of-type {
      margin: 0;
    }

    a {
      @include transition(all 300ms ease-in-out);
      position: relative;
      display: block;
      font-weight: 900;
      line-height: 1;
      cursor: pointer;
    }
  }

  @include screen-above(768px) {
    padding: 50px 0;
  }
}

.header {
  position: relative;
  padding: 75px 0 50px;
  overflow: hidden;
  text-align: center;

  &--blog {
    padding: 75px 0 14px;

    @include screen-above(768px) {
      padding: 110px 0 20px;
    }
  }

  &--post {
    padding: 75px 0 0;

    @include screen-above(768px) {
      padding: 110px 0 0;
    }
  }

  &--home {
    text-align: left;

    &::before {
      @include transition(width 300ms ease-in-out);
      @include size(65%, 100%);
      @include absolute(0, 0, 0, 0);
      z-index: -1;
      background-color: #ffb507;
      content: '';

      @include screen-below(768px) {
        @include size(100%);
      }

      @include screen-above(1240px) {
        @include size(68%, 100%);
      }
    }

    p {
      max-width: 560px;

      @include screen-between(768px, 1024px) {
        max-width: 400px;
      }
    }

    @include screen-above(1024px) {
      padding: 110px 0 74px;
    }
  }

  &__content {
    @include screen-between(1024px, 1240px) {
      padding-right: 40px;
    }
  }

  &__coordinates {
    display: block;
    margin-top: 20px;
    text-align: right;
  }
}
