.intro {
  padding: 68px 0 0;

  &__content {
    grid-column: 1 / -1;

    @include screen-above(768px) {
      grid-column: 1 / span 2;
    }
  }

  @include screen-above(768px) {
    padding: 118px 0 0;
  }
}
