{{ define "main" }}

  <section class="list">

    <header class="list__header visually-hide">
      <h1>{{ .Title }}</h1>
    </header>

    <div class="grid grid--two-column grid--list">

      {{ range .Site.RegularPages }}

        {{ $class := "" }}

        {{ if eq .Params.featured true }}
          {{ $class = "list__post list__post-home list__post-home--span-two gray-hover" }}
        {{ else }}
          {{ $class = "list__post list__post-home gray-hover" }}
        {{ end }}

        <article class="{{ $class }}">

          <a class="list__permalink" href="{{ .Permalink }}">

            <div class="list__post-content">

              <header>
                <h2>{{ .Title }}</h2>
              </header>

              <span>
                Published on
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                  {{ .PublishDate.Format "January 2, 2006" }}
                </time>
              </span>

              <footer class="list__post-footer">

                {{ range .Params.categories }}
                  <small class="category">{{ . }}</small>
                {{ end }}

              </footer>

            </div>

          </a>

        </article>

      {{ end }}

    </div>
  </section>

{{ end }}
