{{ define "title" }}

  {{ .Site.Title }} - Web Developer, Writer and Traveler

{{ end }}

{{ define "main" }}

{{ $paginator := .Paginate (where .Site.RegularPages ".Params.type" "!=" "page") }}

{{ $totalPosts := len .Site.RegularPages }}

  {{ partial "hero" . }}

  <main>

    <section aria-labelledby="list-headline">

      <div class="container">

        <div class="subheading-wrap flex gsap-fade-in">

          <h1 class="subheading-wrap__headline h2" id="list-headline">
            Blog Posts
          </h1>

          <span class="subheading-wrap__count font-14">{{ $totalPosts }} Total Posts</span>

        </div>

        <ul class="unstyled-list list grid gsap-stagger-in">

          {{ range $index, $page := $paginator.Pages }}

            <li class="list__item grid relative">

              {{ .Render "article" }}

            </li>

          {{ end }}

        </ul>

      </div>

      {{ if gt (len $paginator.Pagers) 1  }}

        <div role="region" aria-label="pagination links">
          <ul class="unstyled-list pagination gsap-stagger-in">

            {{ range $paginator.Pagers }}

              {{ if eq . $paginator}}

                <li class="pagination__item flex-center" aria-current="page">
                  <span class="visually-hide">Page</span>
                  {{ .PageNumber }}
                </li>

              {{ else }}

                <li class="pagination__item flex-center">
                  <a
                    class="pagination__link link-hover flex-center"
                    href="{{ .URL }}"
                    aria-label="Go to page {{ .PageNumber }}."
                  >
                    {{ .PageNumber }}
                  </a>
                </li>

              {{ end }}

            {{ end }}

          </ul>
        </div>

      {{ end }}

    </section>

  </main>

{{ end }}
