{{ define "main" }}
  <section class="blog spacing">
    <div class="container container--small">
      {{ range first 4 .Data.Pages }}
        <article class="blog__post grid grid--posts">
          <figure>
            <img src="{{ .Params.thumbnail }}" alt="Test" />
          </figure>
          <header>
            <time>{{ .PublishDate.Format "January 2, 2006" }}</time>
            <h3>
              <a class="blog__post-link" href="{{ .Permalink }}">
                {{ .Title }}
              </a>
            </h3>
            {{ range .Params.categories }}
              <small class="category">{{ . }}</small>
            {{ end }}
          </header>
        </article>
      {{ end }}
    </div>
  </section>
{{ end }}