.contact {
  ul {
    margin: 25px 0 50px;
    padding: 0;
    text-align: center;
    li {
      color: $links;
      display: inline-block;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
