.contact {
  ul {
    margin: 50px 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include screen-above(1024px) {
    text-align: center;
    h2 {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
