.main-header {
	padding: 17px 0;
  position: fixed;
  background: $background;
  overflow-y: visible;
  z-index: 9;
  border-bottom: 1px solid $black;
  @include size(100%, 17px);
  @include transition(transform 300ms ease-in-out);
  will-change:transform;
  &.unpinned {
    @include transform(translateY(-100px));
  }
  &.pinned {
    @include transform(translateY(0));
  }
}

.open {
  height: 100%;
  background: $background;
}

.logo {
  color: $hit;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  @include transition(color 300ms ease-in-out);
  &:hover {
    color: $lightBlack;
		&:before {
			content: '';
			background: $hit;
			@include size(3px, 3px);
			@include absolute(auto, -5px, 5px, auto);
		}
  }
  &:before {
    content: '';
    background: $lightBlack;
    @include size(3px, 3px);
    @include absolute(auto, -5px, 5px, auto);
		@include transition(background 300ms ease-in-out);
  }
}

.main-nav {
  will-change:transform;
  display: block;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  z-index: 9;
	pointer-events: none;
  li {
    position: relative;
    list-style-type: none;
    text-align: center;
    a {
      position: relative;
      cursor: pointer;
      margin: 0 32px 0 0;
      color: $links;
      text-decoration: none;
      display: block;
      text-transform: lowercase;
      @include transition(color 300ms ease-in-out);
      @include screen-below(1025px) {
        padding: 32px 0;
        margin: 0;
      }
    }
    &:last-child {
      a {
        margin: 0;
      }
    }
    @include screen-above(1025px) {
      border-bottom: none;
      display: inline-block;
    }
  }
  @include screen-above(1025px) {
    opacity: 1;
    background: none;
    display: block;
    height: inherit;
    float: right;
    position: relative;
		pointer-events: auto;
  }
  &.nav-open {
    opacity: 1;
    height: inherit;
		pointer-events: auto;
  }
}

.mobile-nav-button {
  color: $links;
  display: block;
  position: absolute;
  height: 20px;
  top: 17px;
  right: 45px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  @include transition(color 300ms ease-in-out);
  @include screen-between(600px, 768px) {
    right: 75px;
  }
  @include screen-between(768px, 1025px) {
    right: 90px;
  }
  @include screen-above(1025px) {
    display: none;
  }
  &.navOpen,
  &.close {
    display: block;
    div {
      opacity: 1;
      @include transform( rotate(90deg) scale(1.5));
    }
  }
}