.hero {
  position: relative;
  overflow: hidden;
  outline: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  @include screen-below(768px) {
    padding: 100px 0 0;
  }
  @include screen-between(768px, 1024px) {
    padding: 175px 0 0;
  }
  @include screen-above(1024px) {
    min-height: 100vh;
  }
}
