.hero {
  @include screen-below(768px) {
    padding: 100px 0 0;
  }
  @include screen-between(768px, 1024px) {
    padding: 175px 0 0;
  }
  @include screen-above(1024px) {
    min-height: 100vh;
  }
}

.hero-content {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
