:root {
  --black: #232625;
  --white: #f2f2f2;
  --lightGray: #d9d8d7;
  --midGray: #8c8c8b;
  --gray: #3c403f;
  --border: var(--midGray);
  --spacing: 150px;

  @include screen-below(768px) {
    --spacing: 90px;
  }
}

*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: var(--lightGray);
  background: var(--black);
}

* {
  &:focus {
    outline: 1px dotted var(--red);
  }
}

body {
  position: relative;
  font-size: 18px;
  color: var(--black);
  background-color: var(--lightGray);
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
  transition: color 300ms ease-in-out, outline 300ms ease-in-out;

  &:hover {
    color: var(--gray);
    outline: dotted 1px var(--black);
  }

  &:active {
    color: var(--black);
  }

  &.current {
    text-decoration: underline;
  }
}

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid var(--border);
}