:root {
  --black: #0c0c0c;
  --white: #fff;
  --gray: #b4c7d2;
  --yellow: #f8cf61;
  --border: rgba(255, 255, 255, .1);
}

*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: $black;
  background: $light-blue;
}

* {
  &:focus {
    outline: 1px dotted var(--yellow);
  }
}

body {
  position: relative;
  font-size: 18px;
  color: var(--white);
  background-color: var(--black);
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: var(--yellow);
  text-decoration: none;
  transition: color 300ms ease-in-out, outline 300ms ease-in-out;

  &:hover {
    color: var(--white);
    outline: dotted 1px var(--yellow);
  }

  &:active {
    color: $purple;
  }

  &.current {
    text-decoration: underline;
  }
}

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid var(--border);
}

span,
time {
  color: var(--gray);
}