body {
  font-family: 'Inconsolata', monospace;
}

h1,
h2 {
  font-family: 'Karla', sans-serif;
}

h1 {
  @include font-size($h1-font-sizes);
  padding-bottom: 0;
  margin: 0;
  color: var(--yellow);

  & + span {
    display: block;
    margin-top: 10px;
  }
}

h2 {
  @include font-size($h2-font-sizes);
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

p {
  line-height: 1.8;
}