body {
  font-family: 'Inconsolata', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
}

h1 {
  @include font-size($h1-font-sizes);
  padding-bottom: 0;
  margin: 0 0 20px;
  line-height: 1.8;
}

h2 {
  @include font-size($h2-font-sizes);
  margin: 0 0 16px;
  line-height: 1;
}

h3 {
  @include font-size($h3-font-sizes);
  margin: 0;
  line-height: 2;
}

p {
  line-height: 1.8;
}