.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.relative {
  position: relative;
}

.list-heading {
  --font-size: #{createFluidValue(50px, 200px)};
  font-size: var(--font-size);
  text-align: center;
}

.border {
  border: 1px solid var(--black);
}

.border-bottom {
  border-bottom: 1px solid var(--black);
}

.spacing {
  padding: 20px;
}

.page-spacing {
  --page-spacing: #{createFluidValue(30px, 60px)};
  padding-top: var(--page-spacing);
  padding-bottom: var(--page-spacing);
}

.center {
  text-align: center;
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-black {
  background-color: var(--black);
}

.b-radius-30 {
  border-radius: 30px;
}

.pseudo-link {
	text-decoration: none;

	&::before {
		@include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
		content: "";
	}
}

.absolute-link {
  @include size(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-hover {
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  @include hover {
    color: var(--yellow);
    background-color: var(--black);
  }
}

.grid {
  display: grid;
}


.flex {
  display: flex;
}

.border-grid {
  row-gap: 1px;
  background-color: var(--white);
}

.border-grid-item {
  padding: 10px 0;
  background-color: var(--background, var(--gray));
}

.border-top-bottom {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.gsap-fade-in {
  visibility: hidden;
}

.gsap-stagger-in {
  > * {
    visibility: hidden;
  }
}

.uppercase {
  text-transform: uppercase;
}

.nav-item {
  --item-width: 1ch;
  --item-color: var(--gray);
  position: relative;
  display: block;
  color: var(--item-color);
  letter-spacing: .2rem;
  text-transform: uppercase;
  transition: color 300ms ease-in-out, outline 150ms ease-in-out;

  &::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: var(--item-width);
    height: 1px;
    background: var(--item-background, var(--white));
    opacity: var(--item-border-opacity, 1);
    transition: width 300ms ease-in-out;
    content: "";
  }

  &[aria-current="page"] {
    --item-width: 100%;
    --item-background: var(--gradient-brown-to-green);
    --item-color: var(--white);
  }

  @include hover {
    --item-width: 100%;
    --item-background: var(--gradient-brown-to-green);
    --item-color: var(--white);
  }
}

.corner-border-wrap {
  position: absolute;
  inset: var(--border-offset, -.5px);
  transition: inset 300ms ease-in-out;
}

.corner-border {
  @include size(4px);
  position: absolute;
  z-index: 2;
  border: 1px solid var(--white);

  &--top-left,
  &--top-right {
    top: 0;
    border-bottom: none;
  }

  &--bottom-left,
  &--bottom-right {
    bottom: 0;
    border-top: none;
  }

  &--top-left,
  &--bottom-left {
    left: 0;
    border-right: none;
  }

  &--top-right,
  &--bottom-right {
    right: 0;
    border-left: none;
  }
}
