.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.relative {
  position: relative;
}

.list-heading {
  --list-heading-size: clamp(6.25rem, calc(-0.33rem + 28.07vw), 31.25rem);
  font-size: var(--list-heading-size);
  text-align: center;
}

.border {
  border: 1px solid var(--black);
}

.spacing {
  padding: 20px;
  margin: 20px;
}

.page-spacing {
  --page-spacing: clamp(2.50rem, calc(1.84rem + 2.81vw), 5.00rem);
  padding-top: var(--page-spacing);
  padding-bottom: var(--page-spacing);
}

.center {
  text-align: center;
}
