.visually-hide {
  @include size(1px);
  position: absolute;
  clip: rec(1px, 1px, 1px, 1px);
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.balance {
  text-wrap: balance;
}

.pseudo-link {
	text-decoration: none;

	&::before {
		@include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
		content: "";
	}
}

.absolute-link {
  @include size(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.flex-center {
  display: grid;
  place-content: center;
}

.grid {
  display: grid;
}


.flex {
  display: flex;
}

.nav-item {
  --item-width: 1ch;
  --item-color: var(--gray);
  position: relative;
  display: block;
  color: var(--item-color);
  letter-spacing: .2rem;
  transition: color var(--transition-time) ease-in-out, outline var(--transition-time) ease-in-out;

  &::before {
    position: absolute;
    bottom: var(--pseudo-offset);
    left: 0;
    width: var(--item-width);
    height: 2px;
    background: var(--item-background, var(--white));
    opacity: var(--item-border-opacity, 1);
    transition: width var(--transition-time) ease-in-out;
    content: "";
  }

  &[aria-current="page"] {
    --item-width: 100%;
    --item-background: var(--orange);
    --item-color: var(--white);
  }

  @include hover {
    --item-width: 100%;
    --item-background: var(--orange);
    --item-color: var(--white);
  }
}

.hero-top-spacing {
  padding-top: var(--size-100-200);
}

.font-14 {
  font-size: rem(14);
}

.subheading-wrap {
  align-items: center;
  justify-content: space-between;
  gap: var(--size-1);
  margin-bottom: #{createFluidValue(30px, 60px)};

  &__headline {
    margin: 0;
  }

  &__count {
    color: var(--gray);
  }
}

.bottom-spacing {
  margin-bottom: var(--size-75-150);
}

.overflow-hidden {
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

.bg-black {
  background-color: var(--black);
}

.image-cover {
  @include size(100%);
  object-fit: cover;
}

.unstyled-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}
