:root {
  --container: 1440px;
  --container-gutter: calc((100vw - var(--container)) / 2);
  --black: #000;
  --white: #fff;
  --gray: #7f7f7f;
  --yellow: #fbf9f3;
  --hit: #ac8c64;
  --gradient-brown-to-green: linear-gradient(270deg,rgba(131, 235, 149, .6) -2.78%,rgba(255, 179, 64, .6) 99.99%,#ff8469);

  --body-copy-font: "Work Sans", sans-serif;

  --weight-bold: 700;
  --weight-medium: 500;
  --weight-normal: 400;

  @include screen-below($desktopSm) {
    --container: 1280px;
  }

  @include screen-below($laptop) {
    --container: 1080px;
  }

  @include screen-below(1120px) {
    --container: calc(100% - 40px);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  &:focus {
    outline: 1px dashed var(--white);
    outline-offset: 2px;
  }
}

body {
  --body-offset: 91px;
  position: relative;
  margin: 0;
  color: var(--white);
  background-color: var(--black);
  font-family: var(--body-copy-font);
  font-size: 16px;

  @include screen-below($mobile) {
    --body-offset: 76px;
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease-in-out, outline 300ms ease-in-out;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}
