h1,
h2,
h3 {
  margin: 0;
}

h1,
.h1 {
  --h1-sizes: clamp(2.00rem, calc(1.47rem + 2.25vw), 4.00rem);
  font-size: var(--h1-sizes);
  font-family: var(--headline-font);
  font-weight: 700;
}

h2 {
  --h2-sizes: clamp(1.50rem, calc(1.11rem + 1.68vw), 3.00rem);
  font-size: var(--h2-sizes);
}

p {
  line-height: 1.8;
}
