h1,
h2,
h3 {
  font-family: var(--sans-serif);
}

h1 {
  @include font-size($h1-font-sizes);
  margin: 0;

  & + span {
    display: block;
    margin-top: 10px;
  }
}

h2 {
  @include font-size($h2-font-sizes);
  line-height: 1.2;
}

h3 {
  @include font-size($h3-font-sizes);
}

p {
  max-width: 80ch;
  line-height: 1.8;
}
