<article class="blog__post grid grid--posts" itemscope itemtype="https://schema.org/BlogPosting">

  {{ partial "seo/meta.html" . }}

  <figure>
    <img
      src="{{ .Params.thumbnail }}"
      alt="{{ .Params.thumbnailCaption }}"
    />
  </figure>

  <header>
    <h2 itemprop="headline">
      <a class="blog__post-link" href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h2>

    <span class="blog__post-published">
      Published on
      <time datetime="{{ .PublishDate.Format "2006-01-02" }}" itemprop="datePublished">
        {{ .PublishDate.Format "January 2, 2006" }}
      </time>
    </span>

    {{ range .Params.categories }}
      <small class="category">{{ . }}</small>
    {{ end }}

  </header>

  <footer>

    {{ partial "seo/author.html" . }}

    {{ partial "seo/publisher.html" . }}

  </footer>
  
</article>