.archive {
  &__header {
    margin-bottom: 50px;
  }

  &__card {
    &:not(:first-of-type) {
      padding-top: 40px;
      margin-top: 40px;
      border-top: 1px solid $light-blue;
    }

    h2 {
      margin-top: 0;
    }

    @include screen-above(670px) {
      & > * {
        grid-column: 2 / -1;
      }

      figure {
        grid-column: 1 / span 1;
      }
    }
  }
}
