.blog {
  &__post {
    h2 {
      margin-bottom: .5em;
      line-height: 1;
    }

    &:not(:first-of-type) {
      margin-top: 50px;
    }
  }

  &__post-published {
    display: block;
    margin-bottom: 20px;
  }
}
