.blog {
  padding-top: var(--spacing);
  
  &__post-container {
    margin-bottom: 100px;

    @include screen-below(1024px) {
      margin-bottom: 75px;
    }

    @include screen-below(768px) {
      margin-bottom: 50px;
    }

    @include screen-below(480px) {
      margin-bottom: 25px;
    }
  }

  &__post {
    padding: 25px 0;
    
    h2 {
      line-height: 1;
    }

    footer {
      @include screen-above(768px) {
        justify-self: end;
      }
    }

    &:not(:first-of-type) {
      border-top: 1px solid var(--border);
    }
  }
}
