.footer {
  padding: 54px 0;
  border-top: 1px solid var(--border);

  &__list {
    padding: 0;
    margin: 0;
  }

  &__list-item {
    display: inline-block;
    margin-right: 20px;
    list-style-type: none;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include screen-below(1024px) {
    padding: 52px 0;
  }
}