.container {
  width: 95%;
  padding: 0 2.5%;
  margin: 0 auto;

  &--small {
    max-width: 670px;

    @include screen-above(1280px) {
      width: 100%;
      padding: 0;
    }
  }

  &--list {
    max-width: 1000px;
  }

  &--wide {
    max-width: 1440px;
  }
}

.grid {
  display: grid;
  grid-gap: 40px;

  &--navigation,
  &--pagination,
  &--footer {
    grid-template-columns: repeat(2, 1fr);
  }

  &--post {
    grid-gap: 10px;
    
    @include screen-above(768px) {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
    }
  }

  &--posts {
    grid-template-columns: 2fr 1fr;
    
    @include screen-below(670px) {
      grid-template-columns: 1fr;
    }
  }

  &--two-column {
    grid-template-columns: repeat(2, 1fr);

    @include screen-below(1024px) {
      grid-template-columns: 1fr;
    }
  }

  &--three-column {
    grid-template-columns: repeat(3, 1fr);

    @include screen-between(768px, 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--two-column,
  &--three-column {
    @include screen-below(1280px) {
      grid-gap: 20px;
    }

    @include screen-below(768px) {
      grid-template-columns: 1fr;
    }
  }

  @include screen-below(670px) {
    grid-gap: 20px;
  }
}

.justify-start {
  justify-self: start;
}

.justify-end {
  justify-self: end;
}