.container {
  width: 95%;
  padding: 0 2.5%;
  margin: 0 auto;

  &--small {
    max-width: 670px;

    @include screen-above(1280px) {
      width: 100%;
      padding: 0;
    }
  }

  &--list {
    max-width: 1000px;
  }

  &--wide {
    max-width: 1440px;
  }
}

.grid {
  display: grid;
  grid-gap: 40px;

  &--navigation,
  &--pagination,
  &--footer {
    grid-template-columns: repeat(2, 1fr);
  }

  &--posts {
    grid-template-columns: repeat(2, 1fr);

    @include screen-between(670px, 1024px) {
      grid-template-columns: 1fr 2fr;
    }
    
    @include screen-below(670px) {
      grid-template-columns: 1fr;
    }
  }

  @include screen-below(670px) {
    grid-gap: 20px;
  }
}

.justify-start {
  justify-self: start;
}

.justify-end {
  justify-self: end;
}