.main-header {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: auto;
  padding: 25px 0;
  border-bottom: 1px solid var(--border);
  overflow-y: visible;
  transition: padding 300ms ease-in-out, transform 300ms ease-in-out;
  will-change: transform;

  &.unpinned {
    transform: translateY(-100px);
  }

  &.pinned {
    padding: 12px 0;
    background-color: var(--midGray);
    transform: translateY(0);
  }

  &__skip-link {
    position: fixed;
    top: -2.5em;
    left: 50%;
    transform: translateX(-50%);
    transition: top 300ms ease-in-out;

    &:focus {
      top: 0;
    }
  }

  &__home-link {
    justify-self: start;
  }

  &__nav {
    position: relative;
    z-index: 9;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    pointer-events: auto;
    background: none;
    border-bottom: 0;
    opacity: 1;
    will-change: transform;
  }

  &__nav-item {
    position: relative;
    display: inline-block;
    margin: 0 32px 0 0;
    text-align: center;
    list-style-type: none;

    &:last-of-type {
      margin: 0;
    }

    a {
      position: relative;
      display: block;
      line-height: 1;
    }
  }
}
