.post {
  header {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  p {
    font-size: 1.125rem;
  }

  figure + figure {
    margin-top: 20px;
  }

  img {
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }

  footer {
    margin-top: 40px;
  }
}