.article {
  z-index: 1;
  grid-template-columns: 1fr 2fr;
  gap: var(--size-1);
  align-items: start;
  row-gap: var(--size-1);
  align-content: start;
  background-color: var(--card-bg, var(--black));
  border-radius: 8px;

  &--featured {
    grid-template-columns: 1fr;

    @include screen-below($tablet) {
      margin-bottom: var(--size-1);
    }
  }

  &__headline-wrap {
    row-gap: var(--size-0);
  }

  &__headline {
    margin: 0;
  }

  &__thumbnail {
    border-radius: var(--size-0);
    pointer-events: none;
    aspect-ratio: 1;

    &--featured {
      aspect-ratio: 1200 / 795;
    }
  }
}