.article {
  z-index: 1;
  row-gap: 20px;
  transition: opacity var(--transition-time) ease-in-out;

  @include screen-above($portrait) {
    --image-opacity: .8;
  }

  @include hover {
    --image-opacity: 1;

    img {
      transform: scale(1.02);
    }
  }

  &__copy {
    order: 2;
    row-gap: 10px;
  }

  &__thumbnail {
    aspect-ratio: 67/44;
    order: 1;
    pointer-events: none;
  }

  &__thumbnail-image {
    opacity: var(--image-opacity, 1);
    transition: opacity var(--transition-time) ease-in-out, transform var(--transition-time) ease-in-out;
  }

  &__type {
    color: var(--gray);
  }
}
