.unstyled-button {
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	appearance: none;
	background-color: transparent;
	border: 0;
	text-align: inherit;
}

.button {
  --button-color: var(--white);
  --button-background: rgba(0, 0, 0, 0);
  position: relative;
  color: var(--button-color);
  text-align: center;
  padding: 1rem;
  background-color: var(--button-background);
  backdrop-filter: 15px;
  background-size: 150% 150%;
  border-radius: 50px;
  border: 2px solid var(--white);
  transition: color var(--transition-time) ease-in-out, background-color var(--transition-time) ease-in-out, border-color var(--transition-time) ease-in-out;

  &[aria-expanded="true"] {
    --button-color: var(--black);
    --button-background: var(--orange);
    border-color: var(--orange);
  }

  @include hover {
    --button-color: var(--black);
    --button-background: var(--orange);
    border-color: var(--orange);
  }
}
