.unstyled-button {
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	appearance: none;
	background-color: transparent;
	border: 0;
	text-align: inherit;
}

.button {
  position: relative;
  color: var(--white);
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 50px;
  overflow: hidden;
  background: var(--gradient-brown-to-green);
  transition: transform 150ms ease-in-out;

  @include hover {
    transform: scale(1.1);
  }
}
