.unstyled-button {
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	appearance: none;
	background-color: transparent;
	border: 0;
	text-align: inherit;
}

.button {
  position: relative;
  color: var(--white);
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 50px;
  overflow: hidden;

  &::before {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--gradient-brown-to-green);
    opacity: var(--button-background-opacity, 1);
    border-radius: 50px;
    transition: opacity 150ms ease-in-out;
    content: "";
  }

  &[aria-expanded="true"] {
    --button-background-opacity: .75;
  }

  @include hover {
    --button-background-opacity: .75;
  }
}
