.footer {
  padding: 40px 0;

  &__grid {
    justify-content: space-evenly;
    row-gap: 20px;

    @include screen-below($mobile) {
      flex-direction: column;
    }
  }

  &__copyright {
    flex: 1 1 0;
    margin: 0;
  }

  &__list {
    flex: 1 1 0;
    gap: 20px;
    display: flex;
  }
}
