.grid {
  display: grid;

  &--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  &--list {
    grid-auto-flow: dense;
    grid-gap: 1px;
    background-color: var(--border);

    @include screen-below(1024px) {
      grid-template-columns: 1fr;
    }
  }
}
