.grid {
  display: grid;

  &--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  &--list {
    grid-auto-flow: dense;

    @include screen-below(1024px) {
      grid-template-columns: 1fr;
    }
  }
}
