.grid {
  display: grid;

  &--navigation,
  &--pagination,
  &--footer {
    grid-template-columns: repeat(2, 1fr);
  }

  &--two-column {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;

    @include screen-below(1024px) {
      grid-template-columns: 1fr;
    }
  }
}

.justify-start {
  justify-self: start;
}

.justify-end {
  justify-self: end;
}