.main-header {
  --header-padding: 20px;
  --header-background: rgba(0, 0, 0, 0);
  --mobile-navigation-color: var(--white);
  @include size(100%, auto);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: var(--header-padding) 0;
  background-color: var(--header-background);
  transition: padding 150ms ease-in-out, background-color 150ms ease-in-out;

  &--pinned {
    --header-padding: 15px;
  }

  &--pinned,
  &--navigation-open {
    --header-background: rgba(0, 0, 0, 1);
  }

  &__grid {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    font-weight: var(--weight-medium);
    transition: color 150ms ease-in-out;

    @include hover {
      color: var(--hit);
    }
  }

  &__navigation {
    @include screen-below($tablet) {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    &:not(:last-of-type) {
      margin-right: #{createFluidValue(20px, 40px)};
    }
  }

  &__nav-link {
    --underline-focus: var(--white);
    position: relative;
    display: block;
  }

  &__mobile-navigation-trigger,
  &__mobile-navigation {
    @include screen-above($tablet) {
      display: none;
    }
  }

  &__mobile-navigation-trigger {
    @include size(44px, 22px);
    position: relative;
    cursor: pointer;

    @include hover {
      --mobile-navigation-color: var(--hit);
    }

    &:active {
      --mobile-navigation-color: var(--gray);
    }

    &[aria-expanded="true"] {
      span {
        &::before {
          transform: rotate(45deg) translate(7px, 7px);
        }

        &::after {
          transform: rotate(-45deg) translate(7px, -7px);
        }
      }
    }
  }

  &__mobile-navigation-icon {
    @include size(44px, 1px);
    position: relative;
    background-color: transparent;
    display: block;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.2s ease-in-out;

    &::before,
    &::after {
      @include size(44px, 1px);
      background-color: var(--mobile-navigation-color);
      position: absolute;
      content: "";
      transition: all 0.2s ease-in-out;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &__mobile-navigation {
    grid-column: 1 / -1;
    max-height: var(--navigation-height, 0);
    opacity: var(--navigation-opacity, 0);
    transition: height, 150ms ease-in-out, opacity 150ms ease-in-out;
    pointer-events: none;

    &--open {
      --navigation-height: 1000px;
      --navigation-opacity: 1;
      pointer-events: auto;
    }
  }

  &__mobile-navigation-list {
    row-gap: #{createFluidValue(20px, 40px)};
    margin-top: 40px;
  }

  &__mobile-navigation-link {
    display: block;
    font-size: #{createFluidValue(18px, 24px, 375px, 1080px)};
  }
}
