.main-header {
  @include size(100%, auto);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 25px 0;
  background-color: var(--black);
  overflow-y: visible;
  transition: padding 300ms ease-in-out, transform 300ms ease-in-out, color 300ms ease-in-out;
  will-change: transform;

  a {
    display: block;

    &[aria-current="page"] {
      text-decoration: underline;
    }
  }

  &.unpinned {
    transform: translateY(-100px);
  }

  &.pinned {
    padding: 12px 0;
    color: var(--white);
    background-color: var(--black);
    transform: translateY(0);
  }

  &__grid {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: var(--display-font);
  }

  &__skip-link {
    position: fixed;
    top: -10em;
    left: 50%;
    padding: 16px 24px;
    transform: translateX(-50%);
    transition: top 300ms ease-in-out;

    &:focus {
      top: 0;
    }
  }
}
