.main-header {
  --logo-size: 50px;
  --header-padding: 20px;
  --nav-font-size: #{createFluidValue(18px, 32px)};
  @include size(100%, auto);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: var(--header-padding) 0;
  transition: padding 300ms ease-in-out;

  &--pinned {
    --logo-size: 35px;
    --header-padding: 10px;
    --nav-font-size: #{createFluidValue(18px, 24px)};
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @include size(var(--logo-size));
    display: block;
    transition: width 300ms ease-in-out, height 300ms ease-in-out, color 300ms ease-in-out;

    @include hover {
      color: var(--hit);
    }
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    &:not(:last-of-type) {
      margin-right: #{createFluidValue(20px, 40px)};
    }
  }

  &__nav-link {
    --underline-opacity: 0;
    --underline-color: rgba(0, 0, 0, 0);
    position: relative;
    display: block;
    font-size: var(--nav-font-size);
    transition: font-size 300ms ease-in-out;

    &::before {
      @include size(100%, 2px);
      position: absolute;
      left: 0;
      bottom: -4px;
      opacity: var(--underline-opacity);
      background-color: var(--underline-color);
      transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out;
      content: "";
    }

    &[aria-current="page"] {
      --underline-opacity: 1;
      --underline-color: var(--black);
    }

    &:focus {
      outline: 2px dashed var(--black);
      outline-offset: -4px;
    }

    @include hover {
      --underline-opacity: 1;
      --underline-color: var(--hit);
    }
  }
}
