.hero {
  padding-bottom: var(--size-125-175);
  background: linear-gradient(180deg, rgba(255, 132, 105, .25), rgba(0, 0, 0, 0), rgba(255, 132, 105, .25));
  background-size: 150% 150%;
  animation-name: gradient;
  animation-duration: 15s;

  &::before {
    --bar-sizes: clamp(1.25rem, calc(-0.07rem + 5.63vw), 5.00rem);
    position: absolute;
    top: 0;
    right: 8.5%;
    z-index: 2;
    width: var(--bar-sizes);
    height: 100%;
    background-color: var(--black);
    mix-blend-mode: overlay;
    pointer-events: none;
    content: "";
  }

  &__image-wrap {
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__image {
    @include size(100%);
    display: block;
  }

  &__graphic-wrap {
    @include size(100%, 50%);
    position: absolute;
    bottom: 0;
    left: 0;
    mix-blend-mode: hard-light;

    &::before {
      position: absolute;
      inset: 0;
      background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0) 100%);
      content: "";
    }
  }
}