.list {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--size-1);

  &__headline {
    margin-bottom: #{createFluidValue(30px, 60px)};
  }

  &__item {
    align-items: start;
  }
}

.featured-grid {
  --gap: var(--size-1);
  align-items: start;
  gap: var(--gap);

  @include screen-above($tablet) {
    --gap: var(--size-0);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
  }

  &__item {
    @include screen-above($tablet) {
      grid-column: 9 / span 4;
      grid-row: auto;

      &--featured {
        grid-column: 1 / span 8;
        grid-row: 1 / span 6;
      }
    }
  }
}