.list {
  // 120px at 1800px to 20px at 768px
  --list-gap: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 9.6899)), 7.5rem);
  row-gap: var(--list-gap);

  &__item {
    --image-opacity: 1;
    --link-border-color: var(--purple);
    --link-border-radius: 49% 51% 54% 46% / 59% 44% 56% 41%;

    @include hover {
      --image-opacity: 0;
      --link-border-color: var(--light);
      --link-border-radius: 29% 71% 54% 46% / 64% 39% 61% 36% ;
    }

    &:nth-of-type(odd) {
      --article-columns: 2fr 1.2fr;
      --image-border-radius: 60% 40% 28% 72% / 47% 55% 45% 53%;
      --copy-order: 1;
      --image-order: 2;

      @include hover {
        --image-border-radius: 60% 40% 63% 37% / 31% 30% 70% 69%;
      }
    }

    &:nth-of-type(even) {
      --article-columns: 1.2fr 2fr;
      --image-border-radius: 60% 40% 63% 37% / 31% 30% 70% 69%;
      --copy-order: 2;
      --image-order: 1;

      @include hover {
        --image-border-radius: 60% 40% 28% 72% / 47% 55% 45% 53%;
      }
    }
  }

  &__item-article {
    // 120px at 1800px to 20px at 768px
    --article-gap: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 9.6899)), 7.5rem);
    padding: 20px;
    align-items: center;
    grid-template-columns: var(--article-columns);
    gap: var(--article-gap);

    @include screen-below($tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__item-link {
    display: inline-block;
    padding: 1.5rem 2rem;
    margin-top: 1.2rem;
    font-family: var(--display-font);
    font-size: 1.2rem;
    border-radius: var(--link-border-radius);
    border: 1px solid var(--link-border-color);
    transition: border-color 250ms ease-in-out, border-radius 250ms ease-in-out;
    text-transform: capitalize;

    &::before {
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      content: "";
    }
  }

  &__item-copy {
    order: var(--copy-order);

    p {
      --copy-font-size: clamp(1.00rem, calc(0.97rem + 0.14vw), 1.13rem);
      margin-top: 40px;
      font-size: var(--copy-font-size);
      line-height: 1.8;
    }

    @include screen-below($tablet) {
      order: 2;
    }
  }

  &__item-image {
    @include ratio(1, 1);
    order: var(--image-order);
    overflow: hidden;
    border-radius: var(--image-border-radius);
    transition: border-radius 250ms ease-in-out;

    @include screen-below($tablet) {
      order: 1;
    }

    &::after {
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--purple);
      mix-blend-mode: color;
      transition: opacity 250ms ease-in-out;
      opacity: var(--image-opacity);
      content: "";
    }

    img {
      @include size(100%);
      object-fit: cover;
    }
  }
}
