.pagination {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  max-width: max-content;
  margin: 50px auto;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &[aria-current="page"] {
      @include size(50px);
      color: var(--yellow);
      background-color: var(--black);
      border-radius: 50%;
    }
  }

  &__link {
    @include size(50px);
    border-radius: 50%;

    &:focus {
      outline: 1px dashed var(--black);
      outline-offset: 2px;
    }
  }
}
