.post {
  a {
    text-decoration: underline;
  }

  figure + figure {
    margin-top: 20px;
  }

  img {
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }

  &__information {
    margin-bottom: 40px;
  }

  &__related {
    padding-top: 40px;
    margin-top: 60px;
    border-top: 1px solid var(--border);

    h2 {
      margin-top: 0;
    }

    ul {
      grid-gap: 20px;
    }

    li {
      border: 1px solid var(--border);
    }

    a {
      display: block;
      padding: 20px 20px 30px;
      text-decoration: none;
    }
  }
}
