.single {
  --max-width: 1200px;
  margin-bottom: #{createFluidValue(75px, 150px)};

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    display: grid;
    row-gap: 10px;
  }

  li {
    list-style: circle;
    list-style-position: inside;
  }

  &__container {
    max-width: var(--max-width);
    margin: auto;
  }

  &__thumbnail {
    --thumbnail-column: 1 / -1;
    @include ratio(24, 10);
    grid-column: var(--thumbnail-column);
    max-width: var(--max-width);
    margin: #{createFluidValue(50px, 100px)} auto;
  }

  &__thumbnail-image {
    @include size(100%);
    object-fit: cover;
  }

  &__content-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
    justify-content: center;

    & > * {
      --content-column: 4 / 10;
      grid-column: var(--content-column);
      margin: 0;

      @include screen-below($laptop) {
        --content-column: 3 / 11;
      }

      @include screen-below($laptopSm) {
        --content-column: 2 / 12;
      }

      @include screen-below($mobile) {
        --content-column: 1 / -1;
      }
    }
  }

  &__image {
    @include ratio(3, 2);

    img {
      @include size(100%);
      display: block;
      margin: 0;
      object-fit: cover;
    }
  }

  &__content {
    font-size: rem(18);

    @include screen-below($tablet) {
      font-size: rem(16);
    }

    li {
      list-style: disc;
      list-style-position: inside;
    }
  }

  &__two-col {
    --two-col-grid: repeat(2, 1fr);
    grid-column: 1 / -1;
    grid-template-columns: var(--two-col-grid);
    gap: 20px;
    margin: 20px 0;

    @include screen-below($mobile) {
      --two-col-grid: 1fr;
    }
  }
}
