.blog {
  padding: 100px 0 25px;
  @include screen-above(768px) {
    padding: 150px 0 75px;
  }
}

.blog-content {
  padding-bottom: 25px;
  @include screen-above(768px) {
    padding-bottom: 75px;
  }
}