.info {
  margin: 100px 0;
  @include screen-between(768px, 1024px) {
    margin: 175px 0;
  }
  @include screen-above(1024px) {
    margin: 175px 0 350px;
  }
}

.work,
.social,
.contact {
  margin: 0 0 100px;
  @include screen-between(768px, 1024px) {
    margin: 0 0 175px;
  }
  @include screen-above(1024px) {
    margin: 0 0 350px;
  }
}

.work-row {
  @include clearfix;
  @include screen-above(1024px) {
    h3 {
      float: left;
    }
    p {
      float: right;
    }
  }
}
