<div class="fade-in">
  <p class="large-text">
    I'm Jacob Proffer. I'm a front-end developer with nine years of experience
    in delivering inclusive digital experiences.
  </p>

  <p class="large-text">
    I'm invested in learning Japanese, writing, running trails, and advocating
    for accessibility in all aspects of life.
  </p>

  <p class="large-text">
    Currently working at
    <a href="https://www.elegantseagulls.com/" target="_blank"
      >Elegant Seagulls</a
    >.
  </p>

  <p class="large-text">Based in the beautiful city of Marquette, Michigan.</p>
</div>
