<head>

  {{ partial "head/meta.html" }}

  {{ partial "head/title.html" . }}

  {{ partial "head/description.html" . }}  

  {{ template "_internal/opengraph.html" . }}

  {{ template "_internal/twitter_cards.html" . }}

  {{ partial "head/favicons.html" . }}

  {{ partial "head/rss.html" }}

  {{ partial "head/fonts.html" }}

  {{ partial "head/stylesheet.html" . }}

  {{ template "_internal/google_analytics.html" . }}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
