<header class="main-header">
  <div class="container">

    <a class="main-header__skip-link" href="#content">Skip to Main Content</a>

    {{ if .Site.Menus.main }}
      <nav>
        <ul class="main-header__nav grid grid--two-column unstyled-list">

          <li class="justify-start">
            <a
              href="{{ .Site.BaseURL }}"
              {{ if .IsHome }}
                aria-current="page"
              {{ end }}
            >
              Home
            </a>
          </li>

          {{ $currentPage := . }}

          {{ range .Site.Menus.main }}
            <li class="main-header__nav-item justify-end">
              <a
                href="{{ .URL }}"
                {{ if $currentPage.IsMenuCurrent "main" . }}
                  aria-current="page"
                {{ end }}
              >
                {{ .Name }}
              </a>
            </li>
          {{ end }}

        </ul>
      </nav>
    {{ end }}

  </div>
</header>
