<div class="main-header" data-header>
  <div class="container">
    <div class="main-header__grid relative grid">
      <header>
        <a class="main-header__skip-link button" href="#content">
          Skip to Main Content
        </a>

        <a
          class="main-header__logo-wrap relative nav-item nav-item--primary font-14 link-padding"
          href="/"
          aria-label="Go to home"
        >
          {{ partial "logo" }} Jacob Proffer
        </a>
      </header>

      {{ partial "navigation/main" . }}
    </div>
  </div>
</div>
