{{ $src := resources.Get "/images/background.jpg" }}
{{ $smallw := default "480x webp q50" }}
{{ $mediumw := default "600x webp q50" }}
{{ $tablet := default "900x webp q50" }}
{{ $largew := default "1200x webp q50" }}

{{ $data := newScratch }}
{{ $data.Set "small" ($src.Resize $smallw) }}
{{ $data.Set "medium" ($src.Resize $mediumw) }}
{{ $data.Set "tablet" ($src.Resize $tablet) }}
{{ $data.Set "large" ($src.Resize $largew) }}

{{ $small := $data.Get "small" }}
{{ $medium := $data.Get "medium" }}
{{ $tablet := $data.Get "tablet" }}
{{ $large := $data.Get "large" }}

<section class="hero hero-top-spacing bottom-spacing gsap-fade-in animated">
  <div class="hero__image-wrap">

    <h1 class="visually-hide">My Name is Jacob Proffer</h1>

    {{ partial "jacob-proffer" }}

  </div>

  <div class="hero__graphic-wrap">

    <picture>
      <source media="(max-width: 450px)" srcset="{{with $small.RelPermalink }}{{.}}{{ end }}" width="{{ $small.Width }}" height="{{ $small.Height }}">

      <source media="(max-width: 600px)" srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}" width="{{ $medium.Width }}" height="{{ $medium.Height }}">

      <source media="(max-width: 900px)" srcset="{{with $tablet.RelPermalink}}{{.}}{{ end }}" width="{{ $tablet.Width }}" height="{{ $tablet.Height }}">

      <source media="(min-width: 1200px)" srcset="{{with $large.RelPermalink }}{{.}}{{ end }}" width="{{ $large.Width }}" height="{{ $large.Height }}">

      <img
        class="hero__graphic"
        src="{{ $src.RelPermalink }}"
        width="{{ $src.Width }}"
        height="{{ $src.Height }}"
        alt=""
      >
    </picture>

  </div>
</section>
