---
layout: default
---
    <section class="about spacing">
      <div class="container-small">
        <div class="header">
          <h1>About</h1>
        </div>
        <div class="text">
          <p>Nice to meet you, I'm Jacob. I write code for the web, where I specialize in bespoke website builds. For the past two years, I've been building custom <a class="link-hover" href="https://wordpress.org/" target="_blank">WordPress</a> sites at <a class="link-hover" href="https://www.elegantseagulls.com/" target="_blank">Elegant Seagulls</a> in Marquette, Michigan. I have a keen eye for detail and a passion for quality assurance. It is my goal to deliver dynamic products that adapt to all modern screen sizes and browsers.</p>
          <p>You can view some of my current and past open source projects on <a class="link-hover" href="https://github.com/jacobproffer" target="_blank">GitHub</a>. If you're feeling friendly, give me a follow on <a class="link-hover" href="https://twitter.com/jacobproffer" target="_blank">Twitter</a>.</p>
        </div>
      </div>
    </section>