---
layout: default
---
    <section class="header header--blog">
      <div class="container">
        <span class="red">Read All Stories</span>
        <h1>{{ page.title }}</h1>
      </div>
    </section>
    <section class="blog blog--post">
      <div class="container container--wide">
        <div class="cols">
        {% for post in site.posts %}
          <a class="col col--blog__card blog__card" href="{{ post.url }}">
            <div class="blog__card-content {% if post.url == page.url %}blog_card-content--active{% endif %}">
              <img src="{{ post.thumbnail | absolute_url }}" alt="{{ post.thumbnail-caption }}">
              <small class="red">{{ post.date | date: "%B %-d, %Y" }}</small>
              <h3>{{ post.title}}</h3>
              <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>
    </section>
