---
layout: default
---

<section class="blog blog--post">
  <div class="container container--wide">

    {% if page.sub-title or page.title %}
      <header class="header header--blog">

        {% if page.sub-title %}
          <span class="red">{{ page.sub-title }}</span>
        {% endif %}

        {% if page.title %}
          <h1>{{ page.title }}</h1>
        {% endif %}

      </header>
    {% endif %}

    <div class="cols">

      {% for post in site.posts %}
        <article class="col col--blog__card blog__card">
          <a href="{{ post.url }}">
            <div class="blog__card-content {% if post.url == page.url %}blog_card-content--active{% endif %}">

              {% if post.thumbnail %}
                <aside>
                  <img src="{{ post.thumbnail | absolute_url }}" alt="{{ post.thumbnail-caption }}">
                </aside>
              {% endif %}

              {% if post.date or post.title %}
                <header>
                    
                  {% if post.date %}
                    <small class="red">{{ post.date | date: "%B %-d, %Y" }} | {{ post.content | number_of_words }} words</small>
                  {% endif %}

                  {% if post.title %}
                    <h3>{{ post.title }}</a></h3>
                  {% endif %}

                </header>
              {% endif %}

              {% if post.excerpt %}
                <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
              {% endif %}
              
            </div>
          </a>
        </article>
      {% endfor %}

    </div>
  </div>
</section>
