---
layout: default
---

<section class="blog blog--post">
  <div class="container container--wide">
    <div class="grid grid--archive">

      {% if page.sub-title or page.title %}
        <header class="header header--blog">

          {% if page.title %}
            <h1>{{ page.title }}</h1>
          {% endif %}

        </header>
      {% endif %}

      {% for post in site.posts %}
        <article class="blog__card">
          <a class="blog__post-link" href="{{ post.url }}">
            <div class="blog__card-content {% if post.url == page.url %}blog_card-content--active{% endif %}">

              {% if post.thumbnail %}
                <aside>
                  <img src="{{ post.thumbnail | absolute_url }}" alt="{{ post.thumbnail-caption }}">
                </aside>
              {% endif %}

              {% if post.date or post.title %}
                <header>

                  {% if post.title %}
                    <h2>{{ post.title }}</h2>
                  {% endif %}

                  {% if post.date %}
                    <time datetime="{{ post.date }}">{{ post.date | date: "%B %-d, %Y" }}</time>
                  {% endif %}

                </header>
              {% endif %}
              
            </div>
          </a>
        </article>
      {% endfor %}

    </div>
  </div>
</section>
