---
layout: default
---
    <section class="blog spacing">
      <div class="container-small">
        <div class="header">
        {% if page.url == "/blog.html" %}
          <h1>Journal</h1>
        {% else %}
          <h1>{{ page.title }}</h1>
          <h4>{{ page.date | date: '%B %d, %Y' }}</h4>
        {% endif %}
        </div>
        {% if page.path contains '_posts' %}
        <div class="content">
          {{ content }}
        </div>
        {% endif %}
        <ul class="list">
        {% for post in site.posts %}
        {% if post.url == page.url %}
            <li><a class="active-link" href="{{ post.url }}">{{ post.title}} / {{ post.date | date: "%b %-d, %Y" }}</a></li>
        {% else %}
            <li><a href="{{ post.url }}">{{ post.title}} / {{ post.date | date: "%b %-d, %Y" }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
    </section>