---
layout: default
---
    <header class="header">
      <div class="container">
      {% if page.path contains '_posts' %}
        <h1>{{ page.title }}</h1>
        <h4 class="red">{{ page.date | date: '%B %d, %Y' }}</h4>
      {% else %}
        <h1>{{ page.title }}</h1>
      {% endif %}
      </div>
    </header>
    <section class="blog {% if page.url == '/blog' %}spacing{% endif %}">
      {% if page.path contains '_posts' %}
      <div class="container container-small">
        <div class="blog__content">
          {{ content }}
        </div>
      </div>
      <div class="blog__pagination">
        <div class="container container-small">
          {% if page.previous.url %}
            <a class="blog__pagination-item blog__pagination-item--prev" href="{{page.previous.url}}">Prev Post</a>
          {% endif %}
          {% if page.next.url %}
            <a class="blog__pagination-item blog__pagination-item--next" href="{{page.next.url}}">Next Post</a>
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="container container-mid">
        <div class="cols">
        {% for post in site.posts %}
          <a class="col blog__card" href="{{ post.url }}">
            <div class="blog__card-content {% if post.url == page.url %}blog__card--active{% endif %}">
              <div class="blog__card-info">
                <h2>{{ post.title}}</h2>
                <small>{{ post.date | date: "%B %-d, %Y" }}</small>
                <h5>{{ post.excerpt | strip_html | strip_newlines | truncate: 156 }} </h5>
              </div>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>
      {% endif %}
    </section>
