---
layout: default
---
    <section class="blog">
      <div class="container-small">
        <div class="blog-header">
        {% if page.url == "/blog.html" %}
          <h1>Journal</h1>
        {% else %}
          <h1>{{ page.title }}</h1>
          <h3>{{ page.date | date: '%B %d, %Y' }}</h3>
        {% endif %}
        </div>
        {% if page.path contains '_posts' %}
        <div class="blog-content">
          {{ content }}
        </div>
        {% endif %}
        <ul class="list">
        {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title}} / {{ post.date | date: "%b %-d, %Y" }}</a>
            </li>
        {% endfor %}
        </ul>
      </div>
    </section>