---
layout: default
---
    <header class="header">
      <div class="container container-mid">
        <h1>Get in Touch</h1>
        <h4>Just Don't Send Spam</h4>
      </div>
    </header>
    <section class="about spacing">
      <div class="container container-small">
        <div class="content">
          <form method="POST" action="https://formspree.io/jacob@elegantseagulls.com">
            <input type="email" name="email" placeholder="Your email">
            <textarea name="message" placeholder="Your message"></textarea>
            <input type="text" name="_gotcha" style="display:none" />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </section>
