---
layout: default
---
    <section class="header">
      <div class="container container--wide">
        <h1>Get in Touch</h1>
        <h4 class="red">Just Don't Send Spam</h4>
      </div>
    </section>
    <section class="contact spacing">
      <div class="container container--small">
        <form method="POST" action="https://formspree.io/jacob@elegantseagulls.com">
          <input type="email" name="email" placeholder="Your email">
          <textarea name="message" placeholder="Your message"></textarea>
          <input type="text" name="_gotcha" style="display:none" />
          <button class="button button-black" type="submit">Send</button>
        </form>
      </div>
    </section>
