---
layout: default
---

<article class="header header--home">
  <div class="container container--wide">
    <div class="cols cols--header">

      {% for post in site.posts %}

        {% if post.featured %}
          <div class="header__item header__item--left">
            <header class="header__content">

              {% if post.date %}
                <small class="red">{{ post.date | date: "%B %-d, %Y" }} | {{ post.content | number_of_words }} words</small>
              {% endif %}

              {% if post.title %}
                <h1><a href="{{ post.url }}">{{ post.title}}</a></h1>
              {% endif%}

            </header>

            {% if post.excerpt %}
              <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 225 }}</p>
            {% endif %}
            
            {% if post.url %}
              <a href="{{ post.url }}" class="button button--black">Read {{ post.title }}</a>
            {% endif %}

          </div>
          <div class="header__item header__item--right">
            <aside>

              {% if post.thumbnail %}
                <img src="{{ post.thumbnail | absolute_url }}" alt="{{ post.thumbnail-caption }}" />
              {% endif %}

              {% if post.thumbnail-coordinates %}
                <small class="header__coordinates">{{ post.thumbnail-coordinates }}</small>
              {% endif %}

            </aside>
          </div>
        {% endif %}

      {% endfor %}

    </div>
  </div>
</article>

<section class="blog blog--home">
  <div class="container container--wide">

    <header>
      <span class="red">Fresh Stories</span>
      <h2>Recent Posts</h2>
    </header>

    <div class="cols">
      
      {% for post in site.categories.travel limit:7 %}

        {% if post.featured != true %}
          <article class="col col--blog__card blog__card">
            <a class="blog__post-link" href="{{ post.url }}">
              <div class="blog__card-content {% if post.url == page.url %}blog_card-content--active{% endif %}">

                {% if post.thumbnail %}
                  <aside>
                    <img src="{{ post.thumbnail }}" alt="{{ post.thumbnail-caption }}">
                  </aside>
                {% endif %}

                {% if post.date or post.title %}
                  <header>
                    
                    {% if post.date %}
                      <small class="red">{{ post.date | date: "%B %-d, %Y" }} | {{ post.content | number_of_words }} words</small>
                    {% endif %}

                    {% if post.title %}
                      <h3>{{ post.title }}</h3>
                    {% endif %}

                  </header>
                {% endif %}

                {% if post.excerpt %}
                  <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
                {% endif %}

              </div>
            </a>
          </article>
        {% endif %}

      {% endfor %}

    </div>
    <a class="button button--black" href="/archive">View the Post Archive</a>
  </div>
</section>

{% assign author = site.data.about %}

<article class="about">
  <div class="container container--wide">
    <div class="cols cols--about">
      <div class="col col--about">
        <div class="about__content">

          {% if author.sub-heading or author.heading %}
            <header>

              {% if author.sub-heading %}
                <small class="red">{{ author.sub-heading }}</small>
              {% endif %}

              {% if author.heading %}
                <h2>{{ author.heading }}</h2>
              {% endif %}

            </header>
          {% endif %}

          {% if author.bio %}
            <p>{{ author.bio }}</p>
          {% endif %}

        </div>
      </div>

      {% if author.image %}
        <div class="col col--about col--about-image">
          <aside>
            <img src="{{ author.image | absolute_url }}" alt="{{ author.alt }}">
          </aside>
        </div>
      {% endif %}

    </div>
  </div>
</article>