---
layout: default
---
  <section class="info spacing">
      <div class="container-small">
        <div class="header">
          <h1>Jacob Proffer</h1>
          <h4>Front-End Developer at <a href="https://www.elegantseagulls.com/" target="_blank">Elegant Seagulls</a></h4>
        </div>
      </div>
        <div class="container-mid">
          <div class="projects">
            <a class="project-card" href="http://jacobproffer.com/airports/" target="_blank">
              <div class="project">
                <h2>Airports I've Been To</h4>
                <small>JavaScript, API</small>
                <h5>A personal site that utilizes the Google Maps API to track airports and flight routes that I've taken over the years.</h5>
              </div>
            </a>
            <a class="project-card" href="http://jacobproffer.com/movies/" target="_blank">
              <div class="project">
                <h2>Movies</h4>
                <small>JavaScript, JSON</small>
                <h5>An archive of the movies I've seen in theatres since 2007, which is automatically sorted by epoch date.</h5>
              </div>
            </a>
            <a class="project-card" href="http://whatisjacobplaying.com/" target="_blank">
              <div class="project">
                <h2>What is Jacob Playing</h4>
                <small>JavaScript, API</small>
                <h5>A personal site that utilizes the Steam Web API to return a variety of data associated with my Steam user account.</h5>
              </div>
            </a>
            <a class="project-card" href="http://defendtheoutpost.com/" target="_blank">
              <div class="project">
                <h2>Defend the Outpost</h4>
                <small>CSS, JavaScript</small>
                <h5>Landing page for a forthcoming Arma 3 scenario that advertises mod information and gameplay screenshots.</h5>
              </div>
            </a>
            <a class="project-card" href="http://joerule.com/" target="_blank">
              <div class="project">
                <h2>Joe Rule</h4>
                <small>PHP, JavaScript</small>
                <h5>Portfolio site for Joe Rule, a freelance 3D animator. Utilizes WordPress as a CMS combined with Advanced Custom Fields.</h5>
              </div>
            </a>
            <a class="project-card" href="https://github.com/jacobproffer/static-shell" target="_blank">
              <div class="project">
                <h2>Website Shell</h4>
                <small>CSS, JavaScript</small>
                <h5>This repository contains a static website shell that utilizes Gulp for a task runner with minification and concatenation.</h5>
              </div>
            </a>
          </div>
        </div>
    </section>