---
layout: default
---
<section class="info">
        <div class="container">
          <h1>Jacob Proffer</h1>
          <h3>Front-End Developer</h3>
        </div>
      </section>
      <section class="work">
        <div class="container">
          <ul class="list">
            <li><a href="http://defendtheoutpost.com/" target="_blank">defendtheoutpost.com</a></li>
            <li><a href="http://whatisjacobplaying.com/" target="_blank">whatisjacobplaying.com</a></li>
            <li><a href="http://joerule.com/" target="_blank">joerule.com</a></li>
            <li><a href="http://jacobproffer.com/movies/" target="_blank">jacobproffer.com/movies</a></li>
          </ul>
        </div>
      </section>